<div class="container mt-5">
<strong>Question: <%= @question.question.capitalize+" ?"%></strong><br>
<strong>Your Replies: </strong>
            <% @all_replies.each do |replies|%>
        <ol>
            <li><%= replies.reply%></li>
        </ol>
            <% end %>
<%= render 'replies/form'%>
</div>