<fieldset class="question border border-dark p-4">
<h4>question</h4>  
<%= question.input :question%>
<br>
<%= link_to_remove_association "click to remove", question, class: "btn btn-outline-danger btn-sm float-end", wrapper_class: 'question'%>
<br>
</fieldset><br>