<div class="container-fluid m-3">
    
    <p>Your grades : 
        <strong>
        <% if @grades.grade.present?%>
            <%= @grades.grade%>
        <% elsif %>
        you have not graded yet!    
        <% end %>
        </strong
    ></p>
</div>